*.iml
.idea/
.gradle/
build/
*/build/
http/sets/
http/cards
*/out/
api/*/out/
api/*/build/
impl-coroutine/*/out/
impl-coroutine/*/build/
impl-vertx/*/out/
impl-vertx/*/build/
*.class
examples/*/build/
examples/*/out/
